<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <!--CONTENIDO-->
        <div>
            <img src="images/arbol.jpg" class="img-fluid" alt="arbol"/>
        </div>
        <br>
        <p><h3 class="text-center">Nuestros Servicios:</h3></p>
        <hr>
            
        <div class="container">
            <div class="row">
                <div class="col-md-3 border rounded">
                    <h5 class="text-center">Vivero</h5>
                    <img src="images/vivero.jpg" class="img-fluid" alt="vivero"/>
                </div>
                <div class="col-md-3 offset-1 border rounded">
                    <h5 class="text-center">Ventas</h5>
                    <img src="images/vivero2.jpg" class="img-fluid" alt="vivero" style="padding-bottom: 10px"/>
                </div>
                <div class="col-md-3 offset-1 border rounded">
                    <h5 class="text-center">Decoración</h5>
                    <img src="images/vivero3.jpg" class="img-fluid" alt="vivero" style="padding-bottom: 10px"/>
                </div>
            </div>
        </div>
        
        <!--FOOTER-->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
